.description {
  flex-direction: column;
}
.imgbox {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  &__yacht {
    position: relative;
    &:nth-child(1) {
      left: -104px;
      top: 160px;
      img {
        width: 308px;
        height: 289px;
      }
    }
    &:nth-child(2) {
      left: -140px;
      img {
        width: 533px;
        height: 473px;
      }
    }
    &:nth-child(3) {
      left: -84px;
      top: 32px;
      img {
        width: 260px;
        height: 244px;
      }
    }
  }
}
.textcont {
  position: relative;
  margin: 0 auto;
  margin-top: -60px;
  width: 55%;
  z-index: 1;
  &__header {
    font: 500 70px 'DM Sans', sans-serif;
    line-height: 1.1;
    color: white;
    margin-bottom: 64px;
  }
  &__button {
    margin-bottom: 164px;
    width: 153px;
    height: 48px;
    border-radius: 60px;
    border: 1px solid white;
    background: none;
    font: 700 18px 'DM Sans', sans-serif;
    color: white;
  }
}
@media (max-width: 768px) {
  .imgbox {
    &__yacht {
      width: 100%;
      margin: 0 auto;
      position: relative;
      &:nth-child(1) {
        left: -68px;
        top: -8.854vw;
        margin-bottom: 4.167vw;
        img {
          width: 100%;
          height: 631px;
        }
      }
      &:nth-child(2) {
        gap: 6.4vw;
        left: -9vw;
        img {
          width: 40.104vw;
          height: 289px;
        }
      }
      &:nth-child(3) {
        left: 36.167vw;
        top: 0;
        margin-top: -11.589vw;
        img {
          width: 33.854vw;
          height: 244px;
        }
      }
    }
  }
  .textcont {
    margin-top: -12.813vw;
    width: 83.464vw;
    &__header {
      font: 500 70px 'DM Sans', sans-serif;
      margin-bottom: 8.333vw;
    }
    &__button {
      margin-bottom: 13.021vw;
      font: 700 18px 'DM Sans', sans-serif;
    }
  }
}

@media (max-width: 375px) {
  .imgbox {
    &__yacht {
     
      margin-left: -18.667vw;
      &:nth-child(1) {
        left: 0;
        top: 0;
        
        margin-top: -10vw;
        img {
          width: 100%;
          height: 524px;
        }
      }
      &:nth-child(2) {
        
        margin-bottom: 5vw;
        left: 0;
        img {
          width: 100%;
          height: 289px;
        }
      }
      &:nth-child(3) {
        margin: 0 auto;
        left: 0;
        top: 0;
        img {
          margin-right: auto;
          width: 70%;
          height: 244px;
        }
      }
    }
  }
  .textcont {
    width: 100%;
    margin-top: -16vw;
    &__header {
      font: 500 34px 'DM Sans', sans-serif;
      margin-bottom: 10.667vw;
    }
    &__button {
      margin-bottom: 21.333vw;
      font: 700 14px 'DM Sans', sans-serif;
    }
  }
}

