@media screen and (min-width: 320px) {
  .features {
    padding-top: 164px;
    padding-bottom: 173px;
  }

  .list {
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    &__item {
      margin: 0 auto;
      max-width: 100%;
      max-height: 100%;
      width: 80%;
      border-radius: 60px;
      overflow: hidden;
    }

    &__img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .list {
    .feature1 {
      width: 68%;
    }

    .feature2 {
      margin: 0;
      margin-left: auto;
    }

    .feature3 {
      margin: 0;
      margin-right: auto;
    }

    .feature2,
    .feature3 {
      width: 43%;
    }

    &__item {
      margin: 0 auto;
      // width: 100%;
      // height: 100%;
    }

    &__img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 1024px) {
  // .container {
  //   outline: 2px solid red;
  // }

  .list {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .feature1,
    .feature2,
    .feature3 {
      margin: 0;
    }

    .feature1 {
      // width: 20%;
      width: 55%;
    }

    .feature2 {
      // width: 20%;
      height: 340px;
      margin-left: auto;
    }

    .feature3 {
      // width: 20%;
      margin: 0;
      width: 43.3%;
      margin: 0 auto;
    }

    // .feature2,
    // .feature3 {
    //   width: 43%;
    // }

    &__item {
      margin: 0 auto;
      // width: 100%;
      // height: 100%;
    }

    &__img {
      border-radius: 80px;
      width: 100%;
      height: 100%;
    }
  }
}
