%regular-text {
  font-family: 'DM Sans' sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.3px;
  color: #f6f5ef;
  letter-spacing: 0.42px;
}

%centering {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

%bg-styles {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-clip: content-box;
  object-fit: cover;
}
