// colors
$black: #11131f;
$gray: #1f212d;
$button-gray: #bec7c2;
$blue-gray: #a1b5ba;
$hove-blue: #93abae;
$creamy-white: #f6f5ef;

// font size
$regular-text: 14px;
$bigger-text: 16px;
$h1: 100px;
$h2: 32px;
$btn: 18px