.footer {
    max-width: 1216px;
    height: 284px;
    margin: 0 auto;
    color: white;
    fill: rgba(246, 245, 239, 1);

    &__box {
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
        margin-bottom: 186px;
    }

    &__special {
        display: flex;
        justify-content: center;
        gap: 32px;

        &--link {
            margin-bottom: 16px;
            color: rgba(246, 245, 239, 0.5);
            transition: 250ms linear;
        }

        &--link:hover {
            color: rgba(255, 255, 255, 0.837);
            transition: 250ms linear;
            transform: scale(1.1);
        }
    }
}

.title {
    display: flex;
    gap: 5px;
    align-items: center;
    transition: 200ms linear;
    cursor: pointer;
    
    &__icon {
        width: 29px;
        height: 29px;
    }
    
    &__header {
        font: 700 14px 'DM Sans', sans-serif;
        line-height: 1.1;
        text-transform: uppercase;
    }
    &:hover {
        color: rgba(255, 255, 255, 0.534);
        fill: rgb(255, 255, 255);
        transition: 200ms linear;
        transform: scale(1.1);
    }
}

.nav {
    align-items: center;
    display: flex;
    gap: 24px;

    &__links {
        text-transform: uppercase;
        line-height: 1.1;
        color: white;
        font: 700 14px 'DM Sans', sans-serif;
        transition: 200ms linear;

        &:hover {
            color: rgba(255, 255, 255, 0.534);
            transition: 200ms linear;
            transform: scale(1.1);
        }
    }
}

.social {
    align-items: center;
    display: block;

    &__header {
        margin-bottom: 16px;
        text-transform: uppercase;
        line-height: 1.1;
        font: 700 14px 'DM Sans', sans-serif;
    }

    &__icon {
        width: 40px;
        height: 40px;
        margin-right: 16px;
        border-radius: 6px;
        border: 1px solid rgba(246, 245, 239, 0.5);
        cursor: pointer;
        &--link {
            transition: 200ms linear;
            fill: rgb(255, 255, 255);
            &:hover {
                transition: 200ms linear;
                fill: rgba(255, 255, 255, 0.534);
            }
        }

        &:hover {
            fill: rgba(255, 255, 255, 0.534);
            transition: 200ms linear;
            transform: scale(1.1);
        }
    }
}

@media (max-width: 768px) {
    .footer {
        &__box {
            margin-bottom: 117px;
        }
    }

    .nav {
        flex-direction: column;
        margin-top: 60px;
    }

    .social {
        margin-top: 60px;
    }
}

@media (max-width: 540px) {
    .footer {
        &__box {
            flex-direction: column;
            margin-bottom: 40px;
        }
    }

    .nav {
        margin-right: auto;
        margin-top: 40px;
    }

    .social {
        margin-top: 71px;
    }
}