<footer class="footer container" id="about">
    <ul class="footer__box">
        <li class="title">
            <svg class="title__icon">
                <use href="/img/footer/symbol-defs.svg#boat"></use>
            </svg>
            <h2 class="title__header">yacht Adventures</h2>
        </li>
        <li class="nav">
            <a href="#" class="nav__links">About</a>
            <a href="#" class="nav__links">Yachts</a>
            <a href="#" class="nav__links">Reviews</a>
        </li>
        <li class="social">
            <h2 class="social__header">We in social</h2>
            <svg class="social__icon">
                <a class="social__icon--link" href="https://www.facebook.com/" target="_blank">
                    <use width="10" height="19" x="14" y="9" href="/img/footer/symbol-defs.svg#facebook"></use>
                </a>
            </svg>
            <svg class="social__icon">
                <a class="social__icon--link" href="https://www.instagram.com/" target="_blank">
                    <use width="18" height="18" x="10" y="10" href="/img/footer/symbol-defs.svg#instagram"></use>
                </a>
            </svg>
            <svg class="social__icon">
                <a class="social__icon--link" href="https://www.youtube.com/" target="_blank">
                    <use width="20" height="20" x="9" y="9" href="/img/footer/symbol-defs.svg#youtube"></use>
                </a>
            </svg>
        </li>
    </ul>
    <nav class="footer__special">
        <a href="#" class="footer__special--link">2025. Yacht Adventures</a>
        <a href="#" class="footer__special--link">Privacy Police</a>
    </nav>
</footer>