<!-- <header class="footer">
<footer class="footer" id="about">
    <div class="container">
        <a class="footer__link footer__logo" href="#">
            <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/footer/fontisto_yacht.png" alt="icon">
            <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/footer/text.png" alt="text">
        </a>
<nav>
    <a href="#">ABOUT</a>
    <a href="#">YACHTS</a>
    <a href="#">REVIEWS</a>
</nav>
<div class="container">
    <h2>WE IN SOCIAL</h2>
    <div class="social-icons">
        <a class="footer__links footer__logos" href="#">
            <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/footer/u_facebook-f.png" alt="icon">
            <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/footer/u_instagram.png" alt="icon">
            <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/footer/u_youtube.png" alt="icon">
        </a>
    </div>
</div>
<footer>
    <p>&copy; 2023 Yacht Adventures | Privacy Policy</p>
</footer> -->