<footer class="footer">
    <div class="container">
        <div class="logo">
            &#x1F6A2; YACHT ADVENTURES
        </div>
        <nav class="menu">
            <a href="#">ABOUT</a>
            <a href="#">YACHTS</a>
            <a href="#">REVIEWS</a>
        </nav>
        <div class="social">
            <a href="#">&#x1F4F7;</a>
            <a href="#">&#x1F4F1;</a>
            <a href="#">&#x1F3A5;</a>
        </div>
        <div class="copyright">
            2023. Yacht Adventures | Privacy Policy
        </div>
    </div>
</footer>