<header class="header">
    <div class="container">
        <a class="header__link header__logo" href="#">
            <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/header/yacht.svg" alt="icon">
            <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/header/text.svg" alt="text">
        </a>
        </ul>
        <nav id="header__nav" class="header__nav">
            <ul class="header__breadcrumbs">
                <li><a class="header__link" href="#">Services</a></li>
                <li><a class="header__link" href="#">Projects</a></li>
                <li><a class="header__link" href="#">Clients</a></li>
                <li><a class="header__link" href="#">About</a></li>
            </ul>
        </nav>
        <ul class="burger">
            <li class="burger__stripe"></li>
        </ul>
    </div>
</header>