<header class="header">
    <div class="container header__position">
        <a class="header__logo" href="#">
            <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/header/icon.svg" alt="icon">
            <!-- <p class="header__text">yacht adventures</p>
             -->yacht adventures
        </a>
        </ul>
        <nav id="header__nav" class="header__nav">
            <ul class="header__breadcrumbs">
                <li><a class="header__link" href="#services">Services</a></li>
                <li><a class="header__link" href="#projects">Projects</a></li>
                <li><a class="header__link" href="#clients">Clients</a></li>
                <li><a class="header__link" href="#about">About</a></li>
            </ul>
        </nav>
        <ul class="burger">
            <li class="burger__stripe"></li>
        </ul>
    </div>
</header>