<!-- <section class="section4">
     <ul class="sealist">
          <li class="sealist__diving">
               <picture class="sealist__diving--picture sealist__pic1">
                    <source srcset="./img/section4/draiver.jpg 1x, ./img/section4/draiver@2x.jpg 2x"
                         media="(max-width: 420px)">
                       
                    <source srcset="./img/section4/draiver.jpg 1x, ./img/section4/draiver@2x.jpg 2x"
                         media="(min-width: 421px) and (max-width: 768px)">
                       
                    <source srcset="./img/section4/draiver.jpg 1x, ./img/section4/draiver@2x.jpg 2x"
                         media="(min-width: 769px)">
                        <img src="./img/section4/draiver.jpg" srcset="./img/section4/draiver@2x.jpg 2x"
                         alt="img_driver">
               </picture>
               <button class="sealist__diving--button">Diving</button>
          </li>
          <li class="sealist__fishing">
               <picture class="sealist__fishing--picture sealist__pic2">
                    <source srcset="./img/section4/fish.jpg 1x, ./img/section4/fish@2x.jpg 2x"
                         media="(max-width: 420px)">
                       
                    <source srcset="./img/section4/fish.jpg 1x, src/img/section4/fish@2x.jpg 2x"
                         media="(min-width: 421px) and (max-width: 768px)">
                       
                    <source srcset="./img/section4/fish.jpg 1x, src/img/section4/fish@2x.jpg 2x"
                         media="(min-width: 769px)">
                        <img src="./img/section4/fish.jpg" srcset="src/img/section4/fish@2x.jpg 2x" alt="img_fishing">
               </picture>
               <button class="sealist__fishing--button">Fishing</button>
          </li>
          <li class="sealist__sunbathing">
               <picture class="sealist__sunbathing--picture sealist__pic3">
                    <source srcset="./img/section4/sunbathing.jpg 1x, ./img/section4/sunbathing@2x.jpg 2x"
                         media="(max-width: 420px)">
                       
                    <source srcset="./img/section4/sunbathing.jpg 1x, ./img/section4/sunbathing@2x.jpg 2x"
                         media="(min-width: 421px) and (max-width: 768px)">
                       
                    <source srcset="./img/section4/sunbathing.jpg 1x, ./img/section4/sunbathing@2x.jpg 2x"
                         media="(min-width: 769px)">
                        <img src="./img/section4/sunbathing.jpg" srcset="./img/section4/sunbathing@2x.jpg 2x"
                         alt="img_sunbathing">
               </picture>
               <button class="sealist__sunbathing--button">Sunbathing</button>
          </li>
     </ul>
</section> -->

<section class="section4">
     <ul class="container">
          <li class="sealist__diving"><img class="sealist__pic sealist__pic1" src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section4/draiver.jpg" alt=""></li>
          <li class="sealist__diving"><img class="sealist__pic sealist__pic2" src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section4/draiver.jpg" alt=""></li>
          <li class="sealist__diving sealist__gap"><img class="sealist__pic sealist__pic3" src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section4/draiver.jpg" alt=""></li>
     </ul>
</section>