<section class="review">
  <div class="container">
    <div class="review__inner" >
      <div class="review__inner-head">
        <h2 class="review__heading">
          <span>Yacht Adventures</span>
          take pride in providing the best possible service and experience to
          our customers
        </h2>
        <p class="review__text">
          Our customers have enjoyed unforgettable moments on our yachts. Don't
          just take our word for it - read on to find out what they have to say
          about their journey with us.
        </p>
      </div>
      <ul class="review__slider">

       

        <li class="review__slider-item">
          <picture class="review__img">
            <source
                srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1@2.png 2x"
                media="(max-width: 420px)">
            <source
                srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1@2.png 2x"
                media="(min-width: 421px) and (max-width: 768px)">
            <source
                srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1@2.png 2x"
                media="(min-width: 769px)">
            <img class="review__img" src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1.png"
                srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1@2.png 2x"
                alt="img_smallperson">
          </picture>
          <h3 class="review__item-heading">John Wax</h3>
          <p class="review__item-text">
            I rented the Lagoon 620 with my family for a week-long vacation and it was the best decision ever. The yacht was spacious, comfortable, and luxurious, and the crew took care of everything. 
          </p>
          </li>

        <li class="review__slider-item">
            <picture class="review__img">
              <source
                  srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-2.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-2@2.png 2x"
                  media="(max-width: 420px)">
              <source
                  srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-2.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-2@2.png 2x"
                  media="(min-width: 421px) and (max-width: 768px)">
              <source
                  srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-2.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-2@2.png 2x"
                  media="(min-width: 769px)">
              <img class="review__img" src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-2.png"
                  srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-2@2.png 2x"
                  alt="img_smallperson">
            </picture>
          <h3 class="review__item-heading">Victoria Romashenko</h3>
          <p class="review__item-text">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </li>

        <li class="review__slider-item ">
              <picture class="review__img">
                <source
                    srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-3.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-3@2.png 2x"
                    media="(max-width: 420px)">
                <source
                    srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-3.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-3@2.png 2x"
                    media="(min-width: 421px) and (max-width: 768px)">
                <source
                    srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-3.png 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-3@2.png 2x"
                    media="(min-width: 769px)">
                <img class="review__img" src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-1.png"
                    srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/person-3@2.png 2x"
                    alt="img_smallperson">
              </picture>
          <h3 class="review__item-heading">Ihor Trachuk</h3>
          <p class="review__item-text">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </li>
      </ul>
      <img class="accordion__button review__img" src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section6/arrow up.svg" alt="arrow" />
    </div>
    </div>
  </div>
</section>



