<section class="yacht" id="projects">
    <div class="container">
        <article class="swiper">
            <ul class="swiper-wrapper">
                <!--TODO card 1 -->
                <li class="swiper-slide">
                    <picture class="yacht__img">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht1.jpg   1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht1@2x.jpg 2x"
                            media="(max-width: 320px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht1.jpg  1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src//img/section3/retinisation/yacht1@2x.jpg  2x"
                            media="(min-width: 768px) and (max-width: 1024px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht1.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht1@2x.jpg 2x"
                            media="(min-width: 1024px)">
                        <img class="yacht__pic"
                            src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht1.jpg"
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht1@2x.jpg 2x"
                            alt="yacht1">
                    </picture>
                    <ul class="yacht__name">
                        <li class="yacht__heading">arrow</li>
                        <li class="yacht__subheading">luxury yachts</li>
                    </ul>
                    <ul class="description">
                        <li class="stats">
                            <h3 class="stats__type">length</h3>
                            <p class="stats__characteristics">8m (155ft)</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">shipyard</h3>
                            <p class="stats__characteristics">Admiral</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">built</h3>
                            <p class="stats__characteristics">2021</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">guests</h3>
                            <p class="stats_characteristics">11 in 5 cabins</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">price</h3>
                            <p class="stats__characteristics">&euro;33,500,000</p>
                        </li>
                    </ul>
                </li>
                <!--TODO card 2 -->
                <li class="swiper-slide">
                    <picture class="yacht__img">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht2.jpg   1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht2@2x.jpg 2x"
                            media="(max-width: 320px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht2.jpg  1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src//img/section3/retinisation/yacht2@2x.jpg  2x"
                            media="(min-width: 768px) and (max-width: 1024px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht2.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht2@2x.jpg 2x"
                            media="(min-width: 1024px)">
                        <img class="yacht__pic"
                            src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht2.jpg"
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht2@2x.jpg 2x"
                            alt="yacht1">
                    </picture>
                    <ul class="yacht__name">
                        <li class="yacht__heading benetti">BENETTI OASIS 40M BO122</li>
                        <li class="yacht__subheading benetti">luxury yachts</li>
                    </ul>
                    <ul class="description">
                        <li class="stats">
                            <h3 class="stats__type">length</h3>
                            <p class="stats__characteristics">41m (133ft)</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">shipyard</h3>
                            <p class="stats__characteristics">Benetti</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">built</h3>
                            <p class="stats__characteristics">2025</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">guests</h3>
                            <p class="stats__characteristics">10 in 5 cabins</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">price</h3>
                            <p class="stats__characteristics">&euro;23,210,000</p>
                        </li>
                    </ul>
                </li>
                <!--TODO card 3 -->
                <li class="swiper-slide">
                    <picture class="yacht__img">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht3.jpg   1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht3@2x.jpg 2x"
                            media="(max-width: 320px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht3.jpg  1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src//img/section3/retinisation/yacht3@2x.jpg  2x"
                            media="(min-width: 768px) and (max-width: 1024px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht3.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht3@2x.jpg 2x"
                            media="(min-width: 1024px)">
                        <img class="yacht__pic"
                            src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht3.jpg"
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht3@2x.jpg 2x"
                            alt="yacht1">
                    </picture>
                    <ul class="yacht__name">
                        <li class="yacht__heading">belle anna</li>
                        <li class="yacht__subheading">luxury yachts</li>
                    </ul>
                    <ul class="description">
                        <li class="stats">
                            <h3 class="stats__type">length</h3>
                            <p class="stats__stats">50m (155ft)</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">shipyard</h3>
                            <p class="stats__characteristics">ISA</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">built</h3>
                            <p class="stats__characteristics">2012</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">guests</h3>
                            <p class="stats__characteristics">12 in 6 cabins</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">price</h3>
                            <p class="stats__characteristics">&euro;21,000,000</p>
                        </li>
                    </ul>
                </li>
                <!--TODO card 4 -->
                <li class="swiper-slide">
                    <picture class="yacht__img">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht4.jpg   1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht4@2x.jpg 2x"
                            media="(max-width: 320px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht4.jpg  1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src//img/section3/retinisation/yacht4@2x.jpg  2x"
                            media="(min-width: 768px) and (max-width: 1024px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht4.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht4@2x.jpg 2x"
                            media="(min-width: 1024px)">
                        <img class="yacht__pic"
                            src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht4.jpg"
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht4@2x.jpg 2x"
                            alt="yacht1">
                    </picture>
                    <ul class="yacht__name">
                        <li class="yacht__heading">ellen</li>
                        <li class="yacht__subheading">luxury yachts</li>
                    </ul>
                    <ul class="description">
                        <li class="stats">
                            <h3 class="stats__type">length</h3>
                            <p class="stats__characteristics">40m (132ft)</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">shipyard</h3>
                            <p class="stats__characteristics">Perini Navi</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">built</h3>
                            <p class="stats__characteristics">2001 / 2016 (refitted)</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">guests</h3>
                            <p class="stats__characteristics">9 in 4 cabins</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">price</h3>
                            <p class="stats__characteristics">&euro;9,300,000</p>
                        </li>
                    </ul>
                </li>
                <!--TODO card 5 -->
                <li class="swiper-slide">
                    <picture class="yacht__img">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht5.jpg   1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht5@2x.jpg 2x"
                            media="(max-width: 320px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht5.jpg  1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src//img/section3/retinisation/yacht5@2x.jpg  2x"
                            media="(min-width: 768px) and (max-width: 1024px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht5.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht5@2x.jpg 2x"
                            media="(min-width: 1024px)">
                        <img class="yacht__pic"
                            src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht5.jpg"
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht5@2x.jpg 2x"
                            alt="yacht1">
                    </picture>
                    <ul class="yacht__name">
                        <li class="yacht__heading">mirage 401</li>
                        <li class="yacht__subheading">luxury yachts</li>
                    </ul>
                    <ul class="description">
                        <li class="stats">
                            <h3 class="stats__type">length</h3>
                            <p class="stats__characteristics">38m (125ft)</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">shipyard</h3>
                            <p class="stats__characteristics">2024</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">built</h3>
                            <p class="stats__characteristics">10 in 5 cabins</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">guests</h3>
                            <p class="stats__characteristics">Gianetti Custom Yachts</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">price</h3>
                            <p class="stats__characteristics">&euro;13,500,000</p>
                        </li>
                    </ul>
                </li>
                <!--TODO card 6-->
                <li class="swiper-slide">
                    <picture class="yacht__img">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht6.jpg   1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht6@2x.jpg 2x"
                            media="(max-width: 320px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht6.jpg  1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src//img/section3/retinisation/yacht6@2x.jpg  2x"
                            media="(min-width: 768px) and (max-width: 1024px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht6.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht6@2x.jpg 2x"
                            media="(min-width: 1024px)">
                        <img class="yacht__pic"
                            src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht6.jpg"
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht6@2x.jpg 2x"
                            alt="yacht1">
                    </picture>
                    <ul class="yacht__name">
                        <li class="yacht__heading">king</li>
                        <li class="yacht__subheading">luxury yachts</li>
                    </ul>
                    <ul class="description">
                        <li class="stats">
                            <h3 class="stats__type">length</h3>
                            <p class="stats__characteristics">33m (109ft)</p>
                        </li>

                        <li class="stats">
                            <h3 class="stats__type">shipyard</h3>
                            <p class="stats__characteristics">Overmarine</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">built</h3>
                            <p class="stats__characteristics">9 in 4 cabins</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">guests</h3>
                            <p class="stats__characteristics">2004 / 2018 (refitetd)</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">price</h3>
                            <p class="stats__characteristics">&euro;1,850,000</p>
                        </li>
                    </ul>
                </li>
                <!--TODO card 7 -->
                <li class="swiper-slide">
                    <picture class="yacht__img">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht7.jpg   1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht7@2x.jpg 2x"
                            media="(max-width: 320px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht7.jpg  1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src//img/section3/retinisation/yacht7@2x.jpg  2x"
                            media="(min-width: 768px) and (max-width: 1024px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht7.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht7@2x.jpg 2x"
                            media="(min-width: 1024px)">
                        <img class="yacht__pic"
                            src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht7.jpg"
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht7@2x.jpg 2x"
                            alt="yacht1">
                    </picture>
                    <ul class="yacht__name">
                        <li class="yacht__heading">salt</li>
                        <li class="yacht__subheading">luxury yachts</li>
                    </ul>
                    <ul class="description">
                        <li class="stats">
                            <h3 class="stats__type">length</h3>
                            <p class="stats__characteristics">32m (105ft)</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">shipyard</h3>
                            <p class="stats__characteristics">San Lorenzo</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">built</h3>
                            <p class="stats__characteristics">2019</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">guests</h3>
                            <p class="stats__characteristics">11 in 5 cabins</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">price</h3>
                            <p class="stats__characteristics">&euro;7,800,000</p>
                        </li>
                    </ul>
                </li>
                <!--TODO card 8 -->
                <li class="swiper-slide">
                    <picture class="yacht__img">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht8.jpg   1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht8@2x.jpg 2x"
                            media="(max-width: 320px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht8.jpg  1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src//img/section3/retinisation/yacht8@2x.jpg  2x"
                            media="(min-width: 768px) and (max-width: 1024px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht8.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht8@2x.jpg 2x"
                            media="(min-width: 1024px)">
                        <img class="yacht__pic"
                            src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht8.jpg"
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht8@2x.jpg 2x"
                            alt="yacht1">
                    </picture>
                    <ul class="yacht__name">
                        <li class="yacht__heading">storm</li>
                        <li class="yacht__subheading">luxury yachts</li>
                    </ul>
                    <ul class="description">
                        <li class="stats">
                            <h3 class="stats__type">length</h3>
                            <p class="stats__characteristics">32m (103ft)</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">shipyard</h3>
                            <p class="stats__characteristics">Overmarine</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">built</h3>
                            <p class="stats__characteristics">2005 / 2022 (refitted)</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">guests</h3>
                            <p class="stats__characteristics">9 in 4 cabins</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">price</h3>
                            <p class="stats__characteristics">&euro;2,900,000</p>
                        </li>
                    </ul>
                </li>
                <!--TODO card 9 -->
                <li class="swiper-slide">
                    <picture class="yacht__img">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht9.jpg   1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht9@2x.jpg 2x"
                            media="(max-width: 320px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht9.jpg  1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src//img/section3/retinisation/yacht9@2x.jpg  2x"
                            media="(min-width: 768px) and (max-width: 1024px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht9.jpg 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht9@2x.jpg 2x"
                            media="(min-width: 1024px)">
                        <img class="yacht__pic"
                            src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/yacht9.jpg"
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section3/retinisation/yacht9@2x.jpg 2x"
                            alt="yacht1">
                    </picture>
                    <ul class="yacht__name">
                        <li class="yacht__heading">arrow</li>
                        <li class="yacht__subheading">luxury yachts</li>
                    </ul>
                    <ul class="description">
                        <li class="stats">
                            <h3 class="stats__type">length</h3>
                            <p class="stats__characteristics">48m (155ft)</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">shipyard</h3>
                            <p class="stats__characteristics">2021</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">built</h3>
                            <p class="yacht__characteristics">Admiral</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">guests</h3>
                            <p class="yacht__characteristics">11 in 5 cabins</p>
                        </li>
                        <li class="stats">
                            <h3 class="stats__type">price</h3>
                            <p class="yacht__characteristics">&euro;33,500,000</p>
                        </li>
                    </ul>
                </li>
            </ul>
            <span class="swiper-pagination"></span>
            <span class="swiper-button-prev"></span>
            <span class="swiper-button-next"></span>
            <span class="swiper-scrollbar"></span>
        </article>
    </div>
</section>