<section class="section1">
    <!-- <article class="section1__container"> -->
    <article class="container">
        <aside class="card">
            <ul class="card__picturelist">
                <li class="card__picturelist--picture">
                    <picture>
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-1.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-1@2x.webp 2x"
                            media="(max-width: 420px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-1.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-1@2x.webp 2x"
                            media="(min-width: 421px) and (max-width: 768px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-1.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-1@2x.webp 2x"
                            media="(min-width: 769px)">
                        <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-1.webp"
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-1@2x.webp 2x"
                            alt="img_smallperson">
                    </picture>
                </li>
                <li class="card__picturelist--picture">
                    <picture>
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-2.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-2@2x.webp 2x"
                            media="(max-width: 420px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-2.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-2@2x.webp 2x"
                            media="(min-width: 421px) and (max-width: 768px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-2.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-2@2x.webp 2x"
                            media="(min-width: 769px)">
                        <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-2.webp"
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-2@2x.webp 2x"
                            alt="img_smallperson">
                    </picture>
                </li>
                <li class="card__picturelist--picture">
                    <picture>
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-3.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-3@2x.webp 2x"
                            media="(max-width: 420px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-3.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-3@2x.webp 2x"
                            media="(min-width: 421px) and (max-width: 768px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-3.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-3@2x.webp 2x"
                            media="(min-width: 769px)">
                        <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-3.webp"
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/person-3@2x.webp 2x"
                            alt="img_smallperson">
                    </picture>
                </li>
            </ul>
            <p class="card__clients-title">Our Clients</p>
            <ul class="card__picturebox">
                <li class="card__picturebox--person">
                    <picture>
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/man.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/man@2x.webp 2x"
                            media="(max-width: 420px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/man.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/man@2x.webp 2x"
                            media="(min-width: 421px) and (max-width: 768px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/man.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/man@2x.webp 2x"
                            media="(min-width: 769px)">
                        <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/man.webp"
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/man@2x.webp 2x"
                            alt="img_person">
                    </picture>
                </li>
                <li class="card__picturebox--yacht">
                    <picture>
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/yacht.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/yacht@2x.webp 2x"
                            media="(max-width: 420px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/yacht.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/yacht@2x.webp 2x"
                            media="(min-width: 421px) and (max-width: 768px)">
                        <source
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/yacht.webp 1x, https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/yacht@2x.webp 2x"
                            media="(min-width: 769px)">
                        <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/yacht.webp"
                            srcset="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/yacht@2x.webp 2x"
                            alt="img_yacht">
                    </picture>
                </li>
            </ul>
            <article class="card__text">
                <h3 class="card__text--price">$12M</h3>
                <p class="card__text--description">Book now and make your dream
                    yacht rental a reality</p>
            </article>
        </aside>
        <article class="textbox">
            <h2 class="textbox__title">Explore the High Seas with <span class="textbox__title--span">Our Luxury
                    Yacht</span>
                Rentals</h2>
            <p class="textbox__description">Experience the freedom and luxury of yachting on the open seas. Choose from
                our
                top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking views and
                state-of-the-art amenities.</p>
            <ul class="textbox__buttons">
                <li><button type="button" class="textbox__buttons--start">Get Started</button></li>
                <li><button type="button" class="textbox__buttons--explore">Explore</button></li>
            </ul>
        </article>

        <ul class="listbox">
            <li class="listbox__item">
                <p class="listbox__item--yacht"><span class="listbox__item--yacht--span">Yacht Adventures </span>fleet
                    is
                    here to take
                    you on the ultimate adventure.
                    Each yacht is
                    hand-picked for its comfort, style, and performance.</p>
            </li>
            <li class="listbox__item">
                <p class="listbox__item--description">From spacious decks to state-of-the-art technology, our yachts are
                    designed to
                    provide the perfect blend
                    of luxury and functionality. Take a look at our selection below and choose the yacht that matches
                    your
                    needs and preferences.</p>
            </li>
            <li class="listbox__item">
                <p class="listbox__item--crew">No matter which yacht you choose, our experienced crew will ensure that
                    your
                    journey is smooth and
                    enjoyable. Book now and get ready for an unforgettable adventure on the high seas.</p>
            </li>
        </ul>
    </article>
</section>