<section class="section__rend__yacht">
  <!-- <div class="container__rend__yacht flexbox__rend__yacht"> -->
  <div class="container">
    <div class="h2__and__img__rend__yacht">
      <h2 class="h2__rend__yacht">Rent a yacht now</h2>
      <!-- <img class="img__rend__yacht" src="../img/section5/img-yacht-rend.webp" alt="" /> -->

       <picture>
           
        <source srcset="
            https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section5/yacht.webp    1x,
            https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section5/yacht@2x.webp 2x
          " media="(max-width: 420px)" />
           
        <source srcset="
            https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section5/yacht.webp    1x,
            https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section5/yacht@2x.webp 2x
          " media="(min-width: 421px) and (max-width: 768px)" />
           
        <source srcset="
            https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section5/yacht.webp    1x,
            https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section5/yacht@2x.webp 2x
          " media="(min-width: 769px)" />
           
        <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section5/yacht.webp" srcset="
            https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section5/yacht@2x.webp 2x
          " alt="yacht-sea" />
      </picture>
    </div>
    <form class="form__rend__yacht" action="">
      <input class="input__rend__yacht input__rent_yacht__3" required type="text" autocomplete="name"
        placeholder="Full Name" />
      <input class="input__rend__yacht input__rent_yacht__1" required type="email" autocomplete="email"
        placeholder="Email" />
      <input class="input__rend__yacht input__rent_yacht__2" required type="number" placeholder="Phone number"
        min="0" />
      <textarea class="input__rend__yacht input__rent_yacht__4" required type="text" placeholder="Comment"
        maxlength="200"></textarea>

      <button class="button__rend__yacht" data-modal-open>
        Send
        <img class="button__img__rend__yacht" src="../img/section5/arrow.svg" alt="" />
      </button>
    </form>
  </div>
</section>
<div class="is-hidden backdrop" data-modal>
  <div class="thanks__modal__send__yacht box__modal scale-up-center">
    <!-- <button
      class="thanks__button__yacht__send"
      type="button"
      data-modal-close
    ></button> -->
    <img class="thanks__close__icon" src="../img/section5/close-svg.svg" alt="close" data-modal-close />

    <picture>
      <source srcset="
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/yacht.png    1x,
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/yacht@2x.png 2x
        " media="(max-width: 420px)" />
      <source srcset="
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/yacht.png    1x,
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/yacht@2x.png 2x
        " media="(min-width: 421px) and (max-width: 768px)" />
      <source srcset="
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/yacht.png    1x,
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/yacht@2x.png 2x
        " media="(min-width: 769px)" />
      <img class="thanks__yacht__img"
        src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/yacht.png" srcset="
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section1/yacht@2x.png 2x
        " alt="img_yacht" />
    </picture>
    <ul class="thanks__text">
      <li>
        <h2 class="thanks__h2__yacht__rend">Thank you</h2>
      </li>
      <li>
        <p class="thanks__p__yacht__rend">
          Thank you for choosing Yacht Adventures, your booking details have
          been received and our team will be in touch shortly to confirm your
          reservation and provide any additional information or assistance you
          may need.
        </p>
      </li>
    </ul>
  </div>
</div>
<script src="../js/thanks.js"></script>