<section class="description">
  <article class="container">
     <picture class="imgbox__yacht">
         
      <source srcset="
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht1.webp    1x,
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht1@2x.webp 2x
        " media="(max-width: 420px)" />
         
      <source srcset="
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht1.webp    1x,
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht1@2x.webp 2x
        " media="(min-width: 421px) and (max-width: 768px)" />
         
      <source srcset="
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht1.webp    1x,
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht1@2x.webp 2x
        " media="(min-width: 769px)" />
         
      <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht1.webp
        " srcset="
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht1@2x.webp 2x
        " alt="img__yacht1" />
    </picture>
     <picture class="imgbox__yacht">
         
      <source srcset="
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht2.webp    1x,
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht2@2x.webp 2x
        " media="(max-width: 420px)" />
         
      <source srcset="
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht2.webp    1x,
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht2@2x.webp 2x
        " media="(min-width: 421px) and (max-width: 768px)" />
         
      <source srcset="
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht2.webp    1x,
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht2@2x.webp 2x
        " media="(min-width: 769px)" />
         
      <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht2.webp" srcset="
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht2@2x.webp 2x
        " alt="img__yacht2" />
    </picture>
     <picture class="imgbox__yacht">
         
      <source srcset="
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht3.webp    1x,
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht3@2x.webp 2x
        " media="(max-width: 420px)" />
         
      <source srcset="
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht3.webp    1x,
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht3@2x.webp 2x
        " media="(min-width: 421px) and (max-width: 768px)" />
         
      <source srcset="
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht3.webp    1x,
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht3@2x.webp 2x
        " media="(min-width: 769px)" />
         
      <img src="https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht3.webp" srcset="
          https://raw.githubusercontent.com/Javus-Scriptus/Yachts/main/src/img/section2/yacht3@2x.webp 2x
        " alt="img__yacht3" />
    </picture>
  </article>
  <aside class="textcont">
    <h1 class="textcont__header">
      Choose your dream yacht and sail away into the sunset
    </h1>
    <button class="textcont__button">Yacht rental</button>
  </aside>
</section>