// @import 'node_modules/modern-normalize/modern-normalize.css';

// @use '/scss/abstracts/_mixins.scss';
// @use '/scss/abstracts/_variables.scss';
// @use '/scss/abstracts/_placeholders.scss';
// @use '/scss/abstracts/_base.scss';

@import url(./abstracts/_base.scss);
@import url(./abstracts/_variables.scss);
@import url(./abstracts/_placeholders.scss);
@import url(./abstracts/_mixins.scss);

@import url(./layout/_header.scss);
@import url(./pages/_section1.scss);
@import url(./pages/_section2.scss);
@import url(./pages/_section3.scss);
@import url(./pages/_section4.scss);
@import url(./pages/_section5.scss);
@import url(./pages/_section6.scss);
@import url(./layout/_footer.scss);

@import url(./components/_popup.scss);
